#metalDiv{
    overflow-x: hidden;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

}

#bodyHeader{
    text-align: center;
    font-size: 7vh;
    background-color: rgb(50, 207, 155);
    padding: 5px ;
    color: white;
}

.metal{
   background-color: bisque;
    margin: 2px;
    padding: 4px;
}

.metal h2{
    font-size: 4vh;
}

.metal p{
    color: red;
    font-size: 3vh;
}